.wrapper {
  padding: 30px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperMiddle {
  width: 1037px;
  padding: 30px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  margin: 20px 0px 0px;
  color: #000000;
}

.videoWrapper {
  border-radius: 7px;
  cursor: pointer;
}

.topTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #000000;
}

.bottom {
  display: flex;
  min-height: 100px;
  align-items: center;
  padding: 15px;
  align-items: start;
}

.imgWrapper {
  width: 8%;
}

.bottomRight {
  display: flex;
  flex-direction: column;
  width: 92%;
  align-items: start;
  margin-left: 20px;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 13px;

  color: #7c7c7c;
}
